In [2]:
import pandas as pd

In [71]:
path = r'C:\Users\user\Desktop\py_class\test.csv'
pd.read_csv(path, encoding='CP949')

    학번    이름  파이썬
0   1번   권태완   10
1   2번   임중섭   20
2   3번  멋쟁이1   30
3   4번  멋쟁이2   40
4   5번  멋쟁이3   50
5   6번  멋쟁이4   60
6   7번  멋쟁이5   70
7   8번  멋쟁이6   80
8   9번  멋쟁이7   90
9  10번  멋쟁이8  100

In [75]:
path = r'C:\Users\user\Desktop\py_class\t1.csv'
df=pd.read_csv(path, encoding='CP949')

In [77]:
df

    no          구분 작물정보
0    1        염증제거   마늘
1    2  호흡기계 감염 예방  도라지
2    3  호흡기계 감염 예방  도라지
3    4     면역력 증진    삼채
4    5     면역력 증진    달래
5    6     면역력 증진    두릅
6    7     면역력 증진   미나리
7    8        감기치료  산마늘
8    9        혈액순환   냉이
9   10     면역력 증진   토마토
10  11     면역력 증진    생강

In [80]:
df.head(3)

   no          구분 작물정보
0   1        염증제거   마늘
1   2  호흡기계 감염 예방  도라지
2   3  호흡기계 감염 예방  도라지

In [82]:
df.tail()

    no       구분 작물정보
6    7  면역력 증진   미나리
7    8     감기치료  산마늘
8    9     혈액순환   냉이
9   10  면역력 증진   토마토
10  11  면역력 증진    생강

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
no      11 non-null int64
구분      11 non-null object
작물정보    11 non-null object
dtypes: int64(1), object(2)
memory usage: 392.0+ bytes

In [87]:
df.shape

(11, 3)

In [89]:
df.columns

Index(['no', '구분', '작물정보'], dtype='object')

In [91]:
df.isnull()

       no     구분   작물정보
0   False  False  False
1   False  False  False
2   False  False  False
3   False  False  False
4   False  False  False
5   False  False  False
6   False  False  False
7   False  False  False
8   False  False  False
9   False  False  False
10  False  False  False

In [95]:
path=r'C:\Users\user\Desktop\py_class\t3.csv'
pd.read_csv(path, encoding='CP949')

     구분           시설명                 소 재 지  대표자           연락처  정원(병상)  비고
0   요양원           수지원        담양군 고서면 외보길 68  황태현  061-382-5387      29 NaN
1   요양원      담양하늘숲요양원     담양군 금성면 금성산성길 270  정병권  061-383-0339      22 NaN
2   요양원        낮은자의 집      담양군 금성면 상신기길 108  박순례  061-383-6144       9 NaN
3   요양원       금성노인요양원        담양군 금성면 석현길 23  최성근  061-381-7901      49 NaN
4   요양원       화인케어요양원    담양군 담양읍 가산길 144-26  이형수  061-383-2002      29 NaN
5   요양원        용화힐링타운        담양군 담양읍 남촌길 71  문지영  061-381-2254      26 NaN
6   요양원         에덴요양원    담양군 담양읍 삼거리길 12-10  최영희  061-383-5119      19 NaN
7   요양원           양지원      담양군 담양읍 월광로 3-21  하종삼  061-383-3004       9 NaN
8   요양원     메니노인전문요양원   담양군 담양읍 죽향문화로 178-1  김기락  061-381-0685      61 NaN
9   요양원   원광소규모노인종합센터     담양군 담양읍 죽향문화로 399  유화영  061-383-3844      19 NaN
10  요양원    담양군노인전문요양원  담양군 담양읍 죽향문화로 431-33  강성남  061-380-1400      56 NaN
11  요양원         한재요양원       담양군 대전면 대치8길 16  정선경  061-383-5401      29 NaN
12  요양원  모당노인요양공동생활가정       담양군 대전면 평장동길 29  황영숙  061-382-3500       9 NaN
13  요양원         동산요양원     담양군 무정면 동산길 19-10  이혜숙  061-382-1338      29 NaN
14  요양원      담양참사랑요양원    담양군 무정면 무정로 852-50  이동오  061-381-7554       9 NaN
15  요양원         봄날요양원      담양군 수북면 개동신기길 46  강성태  061-381-2489       9 NaN
16  요양원     성덕노인전문요양원     담양군 창평면 의병로 187-6  유화영  061-383-2334      60 NaN
17   병원     무등산생태요양병원    담양군 가사문학면 백아로 2640  장호직  061-380-8000     187 NaN
18   병원       차오름요양병원     담양군 금성면 덕성길 11-58  백선우  061-383-7600      80 NaN
19   병원        동산한방병원     담양군 담양읍 죽향대로 1203  안승열  061-383-0666      45 NaN
20   병원        담양사랑병원       담양군 담양읍 천변7길 19  현기철  061-380-9000      86 NaN
21   병원       담양참사랑병원      담양군 대덕면 용산로 369   이영열  061-381-7582     299 NaN
22   병원        창평우리병원      담양군 대덕면 차동길 2-62  오해정  061-380-7000     329 NaN
23   병원        명문요양병원     담양군 대덕면 창평현로 1065  김동석  061-381-8075     156 NaN
24   병원        인애요양병원      담양군 수북면 추성1로 736  조준영  061-938-9988     146 NaN
25   병원        한울요양병원       담양군 창평면 의병로 196  채명희  061-382-0800     100 NaN
26   병원     창평한마음요양병원     담양군 창평면 화양길 64-14  조규열  061-380-7200     249 NaN

In [96]:
import sys
sys.version_info

sys.version_info(major=3, minor=7, micro=4, releaselevel='final', serial=0)

In [98]:
import this

In [105]:
path=r'C:\Users\user\Desktop\py_class\t5.csv'
pd.read_csv(path, encoding='CP949')

      학번  Java  Python    C   합계
0  30102    90      30   50  170
1  30201   100     100   90  290
2  30303    80     100   70  250
3  30501    70     100  100  270

In [108]:
path=r'C:\Users\user\Desktop\py_class\covid.csv'
df=pd.read_csv(path, encoding='CP949')
df

            시군구       의료기관명  진료과수  병상수 국민안심병원 여부 감염병전담기관 여부 감염병전담기관 외래진료 가능여부
0       강원도 강릉시      강릉동인병원    21  608       NaN        NaN               NaN
1       강원도 강릉시     박정빈외과의원     1    0       NaN        NaN               NaN
2       강원도 강릉시     이명호내과의원     1    0       NaN        NaN               NaN
3       강원도 고성군       세브란의원     4    0       NaN        NaN               NaN
4       강원도 동해시  근로복지공단동해병원    10  499         Y        NaN               NaN
..          ...         ...   ...  ...       ...        ...               ...
314  충북 청주시 청원구      초정노인병원     3  150       NaN        NaN               NaN
315  충북 청주시 흥덕구      청주현대병원     4  150       NaN        NaN               NaN
316      충북 충주시     건국대충주병원    23  464         Y        NaN               NaN
317      충북 충주시      송원요양병원     2  105       NaN        NaN               NaN
318      충북 충주시   충주시노인전문병원     4  120       NaN        NaN               NaN

[319 rows x 7 columns]

In [110]:
df.head(5)

       시군구       의료기관명  진료과수  병상수 국민안심병원 여부 감염병전담기관 여부 감염병전담기관 외래진료 가능여부
0  강원도 강릉시      강릉동인병원    21  608       NaN        NaN               NaN
1  강원도 강릉시     박정빈외과의원     1    0       NaN        NaN               NaN
2  강원도 강릉시     이명호내과의원     1    0       NaN        NaN               NaN
3  강원도 고성군       세브란의원     4    0       NaN        NaN               NaN
4  강원도 동해시  근로복지공단동해병원    10  499         Y        NaN               NaN

In [208]:
null_count = df.isnull().sum()
df_count = null_count.reset_index()

In [210]:
df_count.columns=['메뉴', '결측']
df_count

                  메뉴   결측
0                시군구    0
1              의료기관명    0
2               진료과수    0
3                병상수    0
4          국민안심병원 여부  247
5         감염병전담기관 여부  293
6  감염병전담기관 외래진료 가능여부  293